* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 10%;
  font-family: "Kanit", sans-serif;
  height: 70px;
  box-shadow: none;
  z-index: 99;
  opacity: 0;
  transform: translateY(-40px);
  animation: animateY 1000ms ease 300ms forwards;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.navbar-container {
  background-color: transparent;
}

.navbar-container.scrolled {
  background-color: #0095ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  .menu-btn {
    color: #fff;
  }
  .menu-btn:hover {
    color: #eaeaea;
  }

  .my-logo .logo-1 {
    display: block;
    width: 100%;
    position: absolute;
  }
  .my-logo .logo-2 {
    display: none;
    width: 100%;
    position: absolute;
  }

  .navbar-menu .navbar-btn {
    color: #ffffff;
  }

  .navbar-menu .navbar-btn:hover {
    color: #eaeaea;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #2d3242e0;
  backdrop-filter: blur(10px);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar li {
  width: 100%;
  height: 50px;
  list-style: none;
}

.sidebar a {
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #0095ff;
}

.sidebar a:hover {
  background-color: #f0f0f0;
  color: #0064ac;
}

.menu-btn {
  display: none;
  color: #0095ff;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-btn:hover {
  color: #004474;
}

.menu-btn mat-icon {
  font-size: 32px;
}

.my-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
  height: auto;
  transition: 0.3s;
}

.my-logo:hover {
  transform: scale(1.1);
}

.my-logo .logo-1 {
  display: none;
  width: 100%;
  position: absolute;
}
.my-logo .logo-2 {
  width: 100%;
  position: absolute;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar-menu .navbar-btn {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #0095ff;
  transition: 0.3s;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.navbar-menu .navbar-btn:hover {
  color: #0095ff;
  text-shadow: 0 0 15px #38acff;
  transform: scale(1.1);
}

@media (max-width: 1020px) {
  mat-toolbar {
    height: 70px;
    padding: 0 5%;
  }

  .my-logo {
    width: 50px;
  }

  .menu-btn {
    display: block;
  }

  .navbar-menu {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

@keyframes animateY {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
