<div class="projects-container">
  <div class="top-text">
    <h1>PROJECTS</h1>
  </div>
  <div class="projects-card">
    <div class="project">
      <mat-card appearance="outlined" *ngFor="let project of projects">
        <img mat-card-image [src]="project.src" />
        <div class="project-title">
          <mat-card-content>{{ project.title }}</mat-card-content>
          <div class="project-detail">
            <a class="detail">{{ project.detail }}</a>
            <a class="button-detail" [href]="project.demo" target="_blank">Demo</a>
            <a class="button-detail" [href]="project.github" target="_blank">GitHub</a>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>