/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background-color: #2d3242;
  margin: 0;
  font-family: "Kanit", sans-serif;
  /* #09d1fc */
}

html {
  scroll-behavior: smooth;
}
